<script type='text/javascript'>
	function addAutor(){
		// vaatab mitu autori fieldseti on ja teeb ühe juurde
		var number = document.getElementsByName("aut_input").length;
		// console.log(number.length);
		var autorikast = document.getElementById("aut");
		//teeb veel ühe autori fieldseti ja array indeksiks saab number
		//st. kui on 2 autorit (indeksid 0,1), siis kolmas saab indeksiks 2
		var autorset = document.createElement("fieldset");
		autorset.name = "aut_input";
		var perenimi = document.createElement("input");
		perenimi.type = "text";
		perenimi.name = "autor[" + number + "][perenimi]";
		perenimi.placeholder = "Perenimi";
		var eesnimi = document.createElement("input");
		eesnimi.type = "text";
		eesnimi.name = "autor[" + number + "][eesnimi]";
		eesnimi.placeholder = "Eesnimi";
		var roll = document.createElement("select");
		roll.name = "autor[" + number + "][roll]";
		var option = document.createElement("option");
		option.value = "autor";
		option.innerHTML = "Autor";
		roll.appendChild(option);
		option = document.createElement("option");
		option.value = "illustraator";
		option.innerHTML = "Illustraator";
		roll.appendChild(option);
		var nupp = document.createElement("input");
		nupp.type = "button";
		nupp.name = "uusaut";
		nupp.value = "+";
		nupp.onclick = addAutor;
		autorset.appendChild(perenimi);
		autorset.appendChild(eesnimi);
		autorset.appendChild(roll);
		autorset.appendChild(nupp);
		autorikast.appendChild(autorset);
	}
</script>
<?php if (isset($isbnstring)):?>
	<p id="isbninfo">
	<?php echo $pealkiri; ?>
	&nbsp;sai isbn-i&nbsp;
	<?php echo $isbnstring; ?>
	</p>
<?php endif;?>
<?php if (!empty($plokk)):?>
<!--<?php echo "plokk $plokk ";?>-->

<form action="?mode=isbn" method="POST" >
	<p class="tip">Küsi uuele raamatule isbn:</p>
	<?php if (isset($kirjastaja_id)):?>
		<input type="hidden" name="kirjastaja_id" value="<?php echo $kirjastaja_id;?>" />
	<?php endif;?>
	<input class="kohustuslik" type="text" name="pealkiri" placeholder="pealkiri" size="70" value="<?php if (!empty($_POST['pealkiri']) && !isset($isbnstring)) echo $_POST['pealkiri']; ?>"/><br/>
	<input type="number" name="aasta" min="2016" max="2020" value="<?php if (!empty($_POST['aasta'])) { echo $_POST['aasta'];} else {echo "2016";} ?>"/><br/>
	<label for="paber">Paberil</label>
	<input type="radio" name="tyyp" id="paber" value="paber" <?php if (empty($_POST['tyyp']) || $_POST['tyyp'] == "paber") { echo "checked";} ?>><br>
	<label for="epub">Epub</label>&nbsp;&nbsp;&nbsp;
	<input type="radio" name="tyyp" id="epub" value="epub" <?php if (!empty($_POST['tyyp']) && $_POST['tyyp'] == "epub") { echo "checked";} ?>><br>
	<fieldset id="aut">
		<legend>Autorid:</legend>
		<?php if(isset($_POST['autor'])) :?>
		<?php for ($i = 0; $i < sizeof($_POST['autor']); $i++) :?>
		<fieldset name="aut_input">
		<input type="text" name="autor[<?php echo $i; ?>][perenimi]" placeholder="Perenimi" value="<?php if (!empty($_POST['autor'][$i]['perenimi'])) echo $_POST['autor'][$i]['perenimi']; ?>"/>
		<input type="text" name="autor[<?php echo $i; ?>][eesnimi]" placeholder="Eesnimi" value="<?php if (!empty($_POST['autor'][$i]['eesnimi'])) echo $_POST['autor'][$i]['eesnimi']; ?>"/>
		<select name="autor[<?php echo $i; ?>][roll]" >
		<option value="autor" <?php if ($_POST['autor'][$i]['roll'] == "autor") echo "selected"; ?>>Autor</option>
		<option value="illustraator" <?php if ($_POST['autor'][$i]['roll'] == "illustraator") echo "selected"; ?>>Illustraator</option>
		</select>
		<input type="button" name="uusaut" value="+"  onclick="addAutor()" />
		</fieldset>
		<?php endfor;?>
		<?php else: ?>
		<fieldset name="aut_input">
		<input type="text" name="autor[0][perenimi]" placeholder="Perenimi" />
		<input type="text" name="autor[0][eesnimi]" placeholder="Eesnimi" />
		<select name="autor[0][roll]" >
		<option value="autor" selected>Autor</option>
		<option value="illustraator">Illustraator</option>
		</select>
		<input type="button" name="uusaut" value="+"  onclick="addAutor()" />
		<br>NB! Nupu taga on selle töö ainus javascripti funktsioon!
		</fieldset>
		<?php endif;?>
	</fieldset>
	<input type="submit" value="Anna ISBN"/> 
</form>
<?php endif;?>
<?php if (isset($errors)):?>
	<?php foreach($errors as $error):?>
		<p class="error" style="color:red;"><?php echo htmlspecialchars($error); ?></p>
	<?php endforeach;?>
<?php endif;?>