<table>
	<tr><th>id</th><th>Nimi</th><th>Kontakt</th><th>Jooksev plokk</th><th></th><th></th></tr>
	<?php foreach ($kirjastajad as $kirjastaja) :?>
	<tr>
		<td><?php echo $kirjastaja['id']; ?></td>
		<td><?php echo $kirjastaja['kirjastaja']; ?></td>
		<td><?php echo $kirjastaja['kontakt']; ?></td>
		<td><?php echo $kirjastaja['plokk']; ?></td>
		<td><?php if($kirjastaja['plokk'] === false) : ?>
			<a href = "?mode=annaplokk&id=<?php echo $kirjastaja['id']; ?>">Anna plokk</a>
		<?php endif; ?></td>
		<td><a href = "?mode=vaata&kirjastaja_id=<?php echo $kirjastaja['id']?>">Vaata</a></td>
		</tr>
	<?php endforeach;?>
</table>