<div id="login">
	<form action="?mode=login" method="POST" >
		<input type="text" name="kasutajanimi" placeholder="kasutajanimi"/><br/>
		<input type="password" name="parool" placeholder="parool"/><br/>
		<input type="submit" value="Logi sisse"/>
	</form>
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
</div>