<div id="info">
<h1>ISBN Registri prototüüp</h1>
<p>ISBN (International Standard Book Number) on rahvusvahelise ISBN agentuuri poolt hallatav standard.
Number on 13-kohaline ja koosneb viiest osast: prefix-rühmatunnus-kirjastustunnus-raamatutunnus-kontrollnumber.
ISBN vahemikud iga riigi jaoks saab siit https://www.isbn-international.org/export_rangemessage.xml
Riigile kuuluvaid kirjastustunnuseid (kirjastajaplokke) jagab kirjastajatele iga riigi vastav agentuur.</p>
<p>978-9985 - prefix ja Eesti rühmatunnus (riigitunnus)</p>
<p>Eestile eraldatud kirjastustunnused (kirjastajaplokid) on:</p>
<ul>
<li>0-4</li>
<li>50-79</li>
<li>800-899</li>
<li>9000-9999</li>
</ul>
<p>Vastavalt kirjastustunnuse kohtade arvule jääb raamatutunnuse jaoks 1-4 kohta. Seega mahub iga kirjastustunnuse sisse 10, 100,1000 või 10000 raamatutunnust. Näiteks, kui kirjastustunnus on 9000, siis jääb raamatutunnuse jaoks 1 koht, mille väärtus saab olla 0-9, kokku 10 võimalikku arvu. Kui kirjastustunnus on 50, on raamatutunnus 3-kohaline, igal kohal võib olla arv 0-9 - seega 10 astmel 3 ehk 1000</p>

<p>Viimane ehk kontrollnumber arvutatakse algoritmi järgi, mis on leitav siit:
<a href="https://www.isbn-international.org/sites/default/files/Manual_Estonian_2013.pdf">ISBN manuaal Lk. 27</a></p>
<p id="test">Testida saab kasutajaga admin/admin ja koer/koer.</p>
</div>
	