<div id="plokk">
	<form action="?mode=annaplokk" method="POST" >
	<table>
	<tr><th>Prefix</th><th>Maatunnus</th><th>Vahemik</th><th>Maht</th><th>Vabu</th><th>Järgmine vaba plokk</th><th>Vali</th></tr>
	<?php foreach ($vahemikud as $vahemik) :?>
	<tr>
		<td><?php echo $vahemik['prefix']?></td>
		<td><?php echo $vahemik['maa']?></td>
		<td><?php echo $vahemik['first']?>&nbsp;-&nbsp;<?php echo $vahemik['last']?></td>
		<td><?php echo $vahemik['maht']?></td>
		<td><?php echo $vahemik['vabad']?></td>
		<td><?php echo $vahemik['next']?></td>
		<td><input type="radio" name="plokk" value="<?php echo $vahemik['next']; ?>"></td></tr>
	<?php endforeach;?>
	</table>
		<input type="hidden" name="kirjastaja_id" value="<?php echo $kirjastaja['id']; ?>"/>
 		<input type="submit" value="Anna kirjastajaplokk"/>
	</form>
	<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>
</div>