<?php if(isset($raamatud)) :?>
<table>
<tr><th>Pealkiri</th><th>Aasta</th><th>Tüüp</th><th>ISBN</th></tr>
<?php foreach ($raamatud as $raamat) :?>

<tr>
	<td>
	<?php $pealkiri = $raamat['pealkiri'];
	if (strlen($pealkiri) > 40) :?> 
		<span class="tooltip">
		<?php $algus = substr($pealkiri,0,35); echo $algus."..."; ?>
		<span class="tooltiptext">
		<?php echo $pealkiri; ?>
		</span>
		</span>
	<?php else: ?>
	<?php echo $pealkiri; ?>
	<?php endif;?>
	</td>
	<td><?php echo $raamat['aasta']; ?></td>
	<td><?php echo $raamat['tyyp']; ?></td>
	<td><?php echo $raamat['isbn_string']; ?></td>
</tr>	
<?php endforeach;?>
</table>
<?php endif;?>
<?php if (isset($errors)):?>
	<?php foreach($errors as $error):?>
		<p class="error" style="color:red;"><?php echo htmlspecialchars($error); ?></p>
	<?php endforeach;?>
<?php endif;?>