
#wrap {
	width: 900px;
	margin: auto;
}

#menu {
	list-style: none;
	
}
#menu li {
	display: inline-block;
	background: #f0f0f5;
	padding: 1em;
}
#menu .right {
	background-color:transparent;
	color:#990033;
	text-align:right;
	padding-left: 3em;
}

#test{
	color:#990033;
	font-weight:bold;
}
.error {
	padding-left:50px;
}

#isbninfo{
	padding-left:50px;
}
#plokk {
	margin-top:50px;
}
#info {
	padding-left:50px;
	padding-right:100px;
}
form {
	padding-left:50px;
	padding-right:100px;
}
input {
	margin:3px;
}
table, th, td {
    border: 1px solid black;
	border-collapse:collapse
}
table {
	margin-top:20px;
	margin-left:30px;
	padding-left:50px;
}
th, td {
    padding: 10px;
}
th {
	background-color:grey;
	padding:2px;
}

a:link	{	
	text-decoration:	none;
	font-weight:	bold; 
	color:	#C00;
	}	
		
		
a:active	{	
	text-decoration:	none;
	font-weight:	bold;
	color:	#C00;
	}	
		
a:hover	{	
	text-decoration:	none;
	color:	#0066cc;
	}	

input{
	spacing: 5px;
}
input[type=number]{
    width: 70px;
} 
.kohustuslik {
	background-color:pink;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #ffffcc;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}