<form action="?mode=uuskirjastaja" method="POST" >
	<input class="kohustuslik" type="text" name="kirjastajanimi" placeholder="kirjastajanimi" value="<?php if (!empty($_POST['kirjastajanimi'])) echo $_POST['kirjastajanimi']; ?>"/><br/>
	<input class="kohustuslik" type="text" name="kontakt" placeholder="kontakt" value="<?php if (!empty($_POST['kontakt'])) echo $_POST['kontakt']; ?>"/><br/>
	<input class="kohustuslik" type="text" name="kasutajanimi" placeholder="kasutajanimi" value="<?php if (!empty($_POST['kasutajanimi'])) echo $_POST['kasutajanimi']; ?>"/><br/>
	
	<input class="kohustuslik" type="password" name="parool" placeholder="parool" value="<?php if (!empty($_POST['parool'])) echo $_POST['parool']; ?>"/><br/>
	<input type="text" name="eesnimi" placeholder="eesnimi" value="<?php if (!empty($_POST['eesnimi'])) echo $_POST['eesnimi']; ?>"/><br/>
	<input type="text" name="perenimi" placeholder="perenimi" value="<?php if (!empty($_POST['perenimi'])) echo $_POST['perenimi']; ?>"/><br/>
	<input type="submit" value="Lisa kirjastaja"/> 
</form>
<?php if (isset($errors)):?>
	<?php foreach($errors as $error):?>
		<p class= "error" style="color:red;"><?php echo htmlspecialchars($error); ?></p>
	<?php endforeach;?>
<?php endif;?>